In [ ]:
# Create Variableincome =6500
expense =3200
saving = income - expense
print(saving)

3300

In [ ]:
# Print string
print("Hello World")
print('Hello World')

Hello World
Hello World

In [ ]:
# print fstring template
name = "David"
age = 25
print(f"{name} is {age} years old.")

David is 25 years old.

In [ ]:
## Data type
#int float string bool
type(100)
type(120.025)
type("hi")
type(True)
print(type(100))
print(type(120.025))
print(type("hi"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# Compare Values
print(1+1 ==200)
print("Hello World" == "Hello World")
print(10*2<=20) 
print(10*2!=20)

False
True
True
False

In [ ]:
## Data structure - list
# create a list of values
numbers = [1000, 2000, 3000, 4000, 5000]
print(numbers)
# list method
numbers.remove(3000)

# add more to list
numbers + [300, 1000, 2500]

numbers.sort(reverse=False)
print(numbers)

[1000, 2000, 3000, 4000, 5000]
[1000, 2000, 4000, 5000]

In [ ]:
# get value from list, start with 0
print(numbers[0])
print(numbers[1])

1000
2000

In [ ]:
## Data structure - dictionary
customers = {
    "name": "David",
    "age": 25,
    "gender": "male",
    "fav_movie": ["The dark knight",
                  "The shawshank redemption",
                  "Pulp Fiction"]
}

print(customers["name"])
print(customers["age"])
print(customers["gender"])
print(customers["fav_movie"])

David
25
male
['The dark knight', 'The shawshank redemption', 'Pulp Fiction']

In [ ]:
# get value from dictionary
customers["name"]
print(customers["name"])
print(customers["fav_movie"][1])

David
The shawshank redemption

In [ ]:
# update value in dictionary
customers["name"] = 'Davidson'
customers["name"]

'Davidson'

In [ ]:
# check if key exists
'gender' in customers

True

In [ ]:
## control flow - For Loop
# list of friends
friends = ["David", "Mary", "Anne"]

for friend in friends:
    print("Hi! " + friend)

Hi! David
Hi! Mary
Hi! Anne

In [ ]:
## Function
#create new function

# define function
def greeting():
    print("Hello!")
greeting()

Hello!

In [ ]:
def greeting(name):
    print("Hello! " + name)
greeting("DOM")


def greeting2(name, age):
    print(f"{name} is {age} years old")
greeting2("DOM", 26)


def greeting2(name, age):
    return(f"{name} is {age} years old")
text = greeting2("DOM", 26)
print(text)

Hello! DOM
DOM is 26 years old
DOM is 26 years old

In [ ]:
## control flow - if
# if else
score = 85
if score >= 80:
    print("Passed")
else:
    print("False")

Passed

In [ ]:
# define a new function to assign grade
def grade(score):
    if score >= 80:
        print("Passed")
    else:
        print("False")

In [ ]:
result = grade(60)

False

In [12]:
## Intro to OOP (Object Oreinted Programming)
class Apple:
    color = ""
    flavour = ""
    price = 0
    # class method
    def make_some_noise(self): #make function for this class use self
      print("I am very delecious!")
    def update_price(self, new_price):
      self.price = new_price
    
# create instance
jonagold = Apple()

#crate attribute
jonagold.color = "red"
jonagold.flavour = "sweet"
jonagold.price = 100

#print value/attribute
print(jonagold.color)
print(jonagold.flavour)
print(jonagold.price)

red
sweet
100

In [16]:
# How to use  Apple function 
# call method
jonagold.make_some_noise()

I am very delecious!

In [17]:
# call update price
jonagold.update_price(350)
print(jonagold.price)

350