<a href="https://colab.research.google.com/github/DomWatcharin/DataScience/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Introduction to Python**

In [ ]:
# Create Variable
income =6500
expense =3200
saving = income - expense
print(saving)

3300

In [ ]:
# Print string
print("Hello World")
print('Hello World')

Hello World
Hello World

In [ ]:
# print fstring template
name = "David"
age = 25
print(f"{name} is {age} years old.")

David is 25 years old.

In [ ]:
## Data type
#int float string bool
type(100)
type(120.025)
type("hi")
type(True)
print(type(100))
print(type(120.025))
print(type("hi"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# Compare Values
print(1+1 ==200)
print("Hello World" == "Hello World")
print(10*2<=20) 
print(10*2!=20)

False
True
True
False

In [ ]:
## Data structure - list
# create a list of values
numbers = [1000, 2000, 3000, 4000, 5000]
print(numbers)
# list method
numbers.remove(3000)

# add more to list
numbers + [300, 1000, 2500]

numbers.sort(reverse=False)
print(numbers)

[1000, 2000, 3000, 4000, 5000]
[1000, 2000, 4000, 5000]

In [ ]:
# get value from list, start with 0
print(numbers[0])
print(numbers[1])

1000
2000

In [ ]:
## Data structure - dictionary
customers = {
    "name": "David",
    "age": 25,
    "gender": "male",
    "fav_movie": ["The dark knight",
                  "The shawshank redemption",
                  "Pulp Fiction"]
}

print(customers["name"])
print(customers["age"])
print(customers["gender"])
print(customers["fav_movie"])

David
25
male
['The dark knight', 'The shawshank redemption', 'Pulp Fiction']

In [ ]:
# get value from dictionary
customers["name"]
print(customers["name"])
print(customers["fav_movie"][1])

David
The shawshank redemption

In [ ]:
# update value in dictionary
customers["name"] = 'Davidson'
customers["name"]

'Davidson'

In [ ]:
# check if key exists
'gender' in customers

True

In [ ]:
## control flow - For Loop
# list of friends
friends = ["David", "Mary", "Anne"]

for friend in friends:
    print("Hi! " + friend)

Hi! David
Hi! Mary
Hi! Anne

In [ ]:
## Function
#create new function

# define function
def greeting():
    print("Hello!")
greeting()

Hello!

In [ ]:
def greeting(name):
    print("Hello! " + name)
greeting("DOM")


def greeting2(name, age):
    print(f"{name} is {age} years old")
greeting2("DOM", 26)


def greeting2(name, age):
    return(f"{name} is {age} years old")
text = greeting2("DOM", 26)
print(text)

Hello! DOM
DOM is 26 years old
DOM is 26 years old

In [ ]:
## control flow - if
# if else
score = 85
if score >= 80:
    print("Passed")
else:
    print("False")

Passed

In [ ]:
# define a new function to assign grade
def grade(score):
    if score >= 80:
        print("Passed")
    else:
        print("False")
result = grade(60)

False

## **Introduction to OOP**

In [ ]:
## Intro to OOP (Object Oreinted Programming)
class Apple:
    color = ""
    flavour = ""
    price = 0
    # class method
    def make_some_noise(self): #make function for this class use self
      print("I am very delecious!")
    def update_price(self, new_price):
      self.price = new_price
    
# create instance
jonagold = Apple()

#crate attribute
jonagold.color = "red"
jonagold.flavour = "sweet"
jonagold.price = 100

#print value/attribute
print(jonagold.color)
print(jonagold.flavour)
print(jonagold.price)

red
sweet
100

In [ ]:
# How to use  Apple function 
# call method
jonagold.make_some_noise()

I am very delecious!

In [ ]:
# call update price
jonagold.update_price(350)
print(jonagold.price)

350

## **Introduction to Pandas**

In [28]:
# import pandas module
import pandas as pd
import numpy as np

In [29]:
# crate a new dataframe from scrath
student_dict = {
    "id": [1, 2, 3, 4, 5],
    "name": ["David", "John", "Mary", "Anna", "Beckham"],
    "gender": ["male", "male", "female", "female", "male"],
    "passed_exam": [True, True, True, False, False]
}

student_dict

{'id': [1, 2, 3, 4, 5],
 'name': ['David', 'John', 'Mary', 'Anna', 'Beckham'],
 'gender': ['male', 'male', 'female', 'female', 'male'],
 'passed_exam': [True, True, True, False, False]}

In [36]:
# Create dataframe using pandas
students = pd.DataFrame(student_dict)
students

   id     name  gender  passed_exam
0   1    David    male         True
1   2     John    male         True
2   3     Mary  female         True
3   4     Anna  female        False
4   5  Beckham    male        False

In [35]:
# Filter male students
students[students['gender'] == 'male']

   id     name gender  passed_exam
0   1    David   male         True
1   2     John   male         True
4   5  Beckham   male        False

In [42]:
# Filter by using query method
students.query("gender == 'male'")

   id     name gender  passed_exam
0   1    David   male         True
1   2     John   male         True
4   5  Beckham   male        False

In [41]:
students.query("gender == 'male' and passed_exam == False")

   id     name gender  passed_exam
4   5  Beckham   male        False

In [44]:
# select columns
students[['name', 'gender']]

      name  gender
0    David    male
1     John    male
2     Mary  female
3     Anna  female
4  Beckham    male

In [ ]:
# read csv file
penguins = pd.read_csv("penguins.csv")

In [48]:
# head file
penguins.head()

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [49]:
# tail file
penguins.tail()

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [51]:
# shape
penguins.shape

(344, 8)

In [53]:
# info dataframe
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [55]:
# check missing values in each column
penguins.isnull().sum()

Unnamed: 0            0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [56]:
# drop na = remove every row with missing values NaN
penguins = penguins.dropna()
penguins.isnull().sum()

Unnamed: 0           0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [57]:
# summary stats
penguins.describe()

,Unnamed: 0,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
count,333.000000,333.000000,333.000000,333.000000,333.000000
mean,172.303303,43.992793,17.164865,200.966967,4207.057057
std,97.346548,5.468668,1.969235,14.015765,805.215802
min,0.000000,32.100000,13.100000,172.000000,2700.000000
25%,89.000000,39.500000,15.600000,190.000000,3550.000000
50%,172.000000,44.500000,17.300000,197.000000,4050.000000
75%,256.000000,48.600000,18.700000,213.000000,4775.000000
max,343.000000,59.600000,21.500000,231.000000,6300.000000

In [59]:
penguins['body_mass_g'].describe()

count     333.000000
mean     4207.057057
std       805.215802
min      2700.000000
25%      3550.000000
50%      4050.000000
75%      4775.000000
max      6300.000000
Name: body_mass_g, dtype: float64

In [60]:
# create new column

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

In [62]:
penguins['avg_bill_mm'] = (penguins['bill_length_mm'] + penguins['bill_depth_mm'])/2
penguins.head()

<ipython-input-62-d858ff7ea5b5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins['avg_bill_mm'] = (penguins['bill_length_mm'] + penguins['bill_depth_mm'])/2

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,avg_bill_mm
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,28.90
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,28.45
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,29.15
4,4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,28.00
5,5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,29.95

In [63]:
# write csv file
penguins.to_csv("new_penguins.csv")